

body {
    background-color: black;
    text-align: center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    background-color: #ffffff;
    font-weight: bold;
    display: inline-block;
    width: 50%;
    color: #000000;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-text {
    width:70%;
    position: relative;
    left: 15%;
    font-style: italic;
    border: 2px solid gray;
    padding: 15px;
}


h3 {
    margin: 50px 0 0 0;
    font-family: cursive;
}





